* {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.nav {
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid #EFEFEF;
    padding: 5px 0px;
}

.nav__content {
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
}

.logo {
    color: #CF4647;
    font-weight: 700;
    font-size: 22px;
}

.documentation {
    font-weight: 400;
    font-size: 14px;
}

.main {
    max-width: 300px;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main__img {
    height: 300px;
    width: 225px;

    animation-name: gulp-animate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.main__text {
    text-align: center;
    width: 500px;
    color: #525252;
}

@keyframes gulp-animate{
    0%{
        height: 300px;
        width: 225px; 
    }
    100%{
        height: 360px;
        width: 275px;
    }
}